h1{
    font-size:px;
}
.name-hilight{
    color: orange;
    font-size:50px ;
    font-weight: bold;
}
.hif-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 5%;
}
.hif-width img{
    width: 100%;
}
